@page "/report"
<PageTitle>Tabular Report</PageTitle>
@rendermode InteractiveServer

<!-- add any additional namespaces-->
@using OOPsReview;

<h1>Employment History</h1>
<h4>using a scrolling Tabular Report</h4>

<div class="row">
    <div class="offset-1 col-md-10">
        <blockquote style="background-color:lightyellow">
            <p>
                This component will demonstrate file IO reading of a text (csv) file. The access to the
                file path will use relative addressing. This component will read all records from the 
                file, create a collection based on a class (Employment), and display the collection
                in a tabular control (table). This table will demonstrate scrolling.
            </p>

        </blockquote>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div class="alert alert-success">
        <p>@feedBackMsg</p>
    </div>
}

@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <!--
                this is a List collection there is only
                one component, the string
                therefore you would NOT need the .Value
                -->
                <li>@error</li>
            }
        </ul>
    </div>
}

<!--
display area

3 possible scenarios
a) no physical collection has been created
- no table should be display on the page
b) collection physically exists but is empty
- a message should be displayed to the user
c) collection physically exists and has records to display
- the records should be display in the desire output format.
-->
@if (employments == null)
{
    <!-- a -->
    <p>Open an employment history file.</p>
}
else if (employments.Count == 0)
{
    <!-- b -->
    <p>No data in the current employment history file.</p>
}
else
{
    <!-- c -->
    //to reduce the number of data rows being displayed there are two techniques
    //a) pagination
    //b) scrolling

    //this example uses the quick and easy technique of scrolling
    //Note the table is surrounded by a div tag
    //     on the div tag is 2 parameters
    //      the class causes the scroll (built into bootstrap)
    //      the style specifies the height of the display area
    //to stick gthe thead to the top of your table use the following
    //      styling on the thead tag
    //           style="position:sticky; top:0; background-color:white;"

    //depending on the zoom of window you may seem to lose some of the last line
    <div class="row">
        <div class="offset-3 col-md-6 overflow-scroll" style="height:350px;">
            <table class="table table-striped">
                <thead style="position:sticky; top:0; background-color:white;">
                    <tr>
                        <th>Title</th>
                        <th>Level</th>
                        <th>Start Date</th>
                        <th>Years</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var empRow in employments)
                    {
                        <tr>
                            <td>@empRow.Title</td>
                            <td>@empRow.Level</td>
                            <td>@empRow.StartDate.ToShortDateString()</td>
                            <td>@empRow.Years</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

@code {
    private string feedBackMsg = "";
    private List<string> errorMsgs = new List<string>();

    //the following variable will be used to hold the collection of employment history records
    List<Employment> employments = null;

    //use the following variable to hold the data from a records of the file
    Employment employment = null;

    protected override void OnInitialized()
    {
        //One could code the reading of the file directly in this method
        //one could also call a different method that does the reading
        //  if one codes the separate method, that method could be used as an event method
        Reading();
        base.OnInitialized();
    }

    private Exception GetInnerException(Exception ex)
    {
        //drill down into your Exception until there are no more inner exceptions
        //at this point you will have the "real" reason for the error
        while (ex.InnerException != null)
            ex = ex.InnerException;

        //you now have the real reason for your error (details)
        //return the details to the call
        return ex;
    }

    private void Reading()
    {
        //clear out old messages
        feedBackMsg ="";
        errorMsgs.Clear();

        //there are a couple of ways to refer to your file and its path
        //  i) obtain the root path of your application using an injection
        //      service called IWebHostEnvironment via property injection (see variables)
        //  ii) use relative addressing starting a the top of your application

        //on this page we will demo (ii)
        //this addressing of the required file will start at the top
        //  of your web application
        //syntax: @"./folderpathroute/.../.../filename"

        //how can one setup the filenames for testing
        //hard-code the names
        //string filename = @"./Data/Employment.csv";
        //string filename = @"./Data/EmploymentEmpty.csv";
        //string filename = @"./Data/EmploymentBad.csv";
        //string filename = @"./Data/FileDoesNotExist.csv"; //bad filename

        string filePathName = @"./Data/";
        string[] files = new string[]
        {
            "Employment.csv", "EmploymentEmpty.csv", "EmploymentBad.csv", "FileDoesNotExist.csv"
        };

        //pick the file to test
        string filename = $"{filePathName}{files[0]}";

        //The System.IO.File method ReadAllLines() will return an array
        //  of lines as strings where each array element represents a
        //  line in the file
        Array userdata = null;

        //can system error occur: YES
        //whenever you are dealing with possible system errors or other class errors
        //  you should user "user friendly error handling"
        try
        {
            //check to see if the file exists before trying to read it
            if(System.IO.File.Exists(filename))
            {
                //file exists

                //create an instance of a collection to hold the records that are in the file
                //  and need to be displayed
                employments = new List<Employment>();

                //read the data in the file
                userdata = System.IO.File.ReadAllLines(filename);

                //traverse the array (lines from the file)
                //ensure that there is sufficient data on the line to create the required instance
                //if not: throw an FormatException
                //if so: create an instance of the required class definition
                //       add the instance to the collection
                foreach(string line in userdata)
                {
                    //create the instance of employment using the line data
                    employment = Employment.Parse(line);
                    //add the instance of the employment to the collection of employments
                    //  which will be used by my table
                    employments.Add(employment);
                }
            }
            else
            {
                //file does not exist
                throw new Exception($"File {filename} does not exist");
            }
        }

        catch (ArgumentNullException ex)
        { 
            //within this example the errors are save to a List<string> not a Dictionary

            errorMsgs.Add($"Missing Data: {GetInnerException(ex).Message}");
        }
        catch (ArgumentException ex)
        {
            errorMsgs.Add($"Invalid Data: {GetInnerException(ex).Message}");
        }
        catch (FormatException ex)
        {
            errorMsgs.Add($"Record Format Error:: {GetInnerException(ex).Message}");
        }
        catch (Exception ex)
        {
            errorMsgs.Add($"System Error: {GetInnerException(ex).Message}");
        }
    }
}
